@import "tailwindcss";

@theme {
  --color-fx-black: #100f0f;
  --color-fx-paper: #fffcf0;
  --color-fx-950: #1c1b1a;
  --color-fx-900: #282726;
  --color-fx-850: #343331;
  --color-fx-800: #403e3c;
  --color-fx-700: #575653;
  --color-fx-600: #6f6e69;
  --color-fx-500: #878580;
  --color-fx-300: #b7b5ac;
  --color-fx-200: #cecdc3;
  --color-fx-150: #dad8ce;
  --color-fx-100: #e6e4d9;
  --color-fx-50: #f2f0e5;
  --color-fx-red: #d14d41;
  --color-fx-orange: #da702c;
  --color-fx-yellow: #d0a215;
  --color-fx-green: #879a39;
  --color-fx-cyan: #3aa99f;
  --color-fx-blue: #4385be;
  --color-fx-purple: #8b7ec8;
  --color-fx-magenta: #ce5d97;
}

body {
  background-color: var(--color-fx-paper);
  color: var(--color-fx-black);
  font-family: system-ui, -apple-system, sans-serif;
}